<section id="contact" class="footer_wrapper mt-3 mt-md-0 pb-0">
    <div class="container pb-3">
        <div class="row">
            <!-- Cột 1: Thông tin liên hệ -->
            <div class="col-lg-3 col-md-6">
                <h5>Liên hệ</h5>
                <div class="contact-info">
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fa fa-home me-3"></i> TP Huế, Việt Nam</a></li>
                        <li><a href="#"><i class="fa fa-phone me-3"></i>+84 8888 6666</a></li>
                        <li><a href="#"><i class="fa fa-envelope me-3"></i>lienhe@hotelbooking.vn</a></li>
                    </ul>
                </div>
            </div>

            <!-- Cột 2: Thông tin & liên kết -->
            <div class="col-lg-3 col-md-6">
                <h5>Thông tin</h5>
                <ul class="link-widget p-0">
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Chi nhánh</a></li>
                    <li><a href="#">Chính sách giao phòng</a></li>
                    <li><a href="#">Hệ thống khách sạn</a></li>
                    <li><a href="#">Cam kết dịch vụ</a></li>
                    <li><a href="#">Thẻ quà tặng</a></li>
                    <li><a href="#">Chính sách hoàn hủy</a></li>
                </ul>
            </div>

            <!-- Cột 3: Đăng ký nhận tin + mạng xã hội -->
            <div class="col-lg-3 col-md-6">
                <h5>Đăng ký nhận tin</h5>
                <div class="form-group mb-4">
                    <input type="email" class="form-control bg-transparent" placeholder="Nhập email của bạn">
                    <button type="submit" class="main-btn rounded-2 mt-3 border-white text-white">Đăng ký</button>
                </div>
                <h5>Kết nối với chúng tôi</h5>
                <ul class="social-network d-flex align-items-center p-0">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>

            <!-- Cột 4 (tuỳ chọn): Hỗ trợ nhanh -->
            <div class="col-lg-3 col-md-6">
                <h5>Hỗ trợ nhanh</h5>
                <ul class="link-widget p-0">
                    <li><a href="#">Câu hỏi thường gặp</a></li>
                    <li><a href="#">Liên hệ hỗ trợ</a></li>
                    <li><a href="#">Hướng dẫn đặt phòng</a></li>
                    <li><a href="#">Điều khoản sử dụng</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Footer dưới cùng -->
    <div class="container-fluid copyright-section">
        <p>&copy; 2024 <a href="#">HotelBooking.vn</a> – Mọi quyền được bảo lưu.</p>
    </div>
</section>
