@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Nội dung của banner, about, rooms,... sẽ nằm ở đây -->
<section id="home" class="banner_wrapper">...</section>
<section id="about" class="about_wrapper">...</section>
<!-- Các phần khác... -->
